* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.teste{
    width: 100%;
}

.about {
    background-color: rgba(242, 248, 248, 0.452);
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mr-2 {
    width: 270px;
    height: auto;
}

.p-float-label {

    margin-top: 10px;
}

.p-inputtext {
    width: 500px;
    border-radius: 9px;
    border-color: rgb(39, 39, 88);
}

.p-button-rounded {
    margin-top: 15px;
    display: flex;
    width: 25%;
    size: 25px;
    justify-content: space-around;
    border-radius: 55px;
}

.p-button-outlined p-button-info {
    border-color: rgb(70, 70, 175);
}

.search {
    margin-top: 15px;
    display: flex;
    width: 25%;
    size: 25px;
    justify-content: space-around;
    border-radius: 55px;

}
.p-inputtext.p-component{
    width: 400px !important;
}
.grid{
    background-color: rgba(242, 248, 248, 0.452);
}

.p-dialog-content{
    width: 700px;
}
.p-dialog-header{
    width: 700px;
}
.p-component.p-component * {
    box-sizing: border-box;
    width: 100%;
    
} 
