.list {
  /* display: flex; */
  /*Separa os componentes em distâncias iguais com distâncias tambem nas laterais*/
  /* justify-content: space-around;
    background-color: rgba(242, 248, 248, 0.452); */
  /* position: relative; */
  height: 100px;
  width: auto;
  margin-top: 30px;

}

.titulo {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #292929;
  margin-bottom: 1%;
}

.badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  background-color: #ffcdd2;
  color: #c63737;
}

.status-aprovado {
  background-color: #c8e6c9;
  color: #256029;
}

.p-paginator p-componen p-paginator-bottom {
  align-items: center;
  position: relative ;
  justify-content: space-around ; 
}

.p-inputtext {
  width: 50PX;
}
.flex justify-content-center align-items-center{
  width: 100%;
}
.p-column-filter.p-fluid.p-column-filter-menu{
  margin-left: 0;
}
.p-inputtext.p-component{
  width: 300px;
}
/* .status-reprovado {
    background-color: #ffcdd2;
    color: #c63737;
  } */